    <!DOCTYPE html>
    <html>
      <head>
        <title>Analytics Vidhya</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
      	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
      
      
	
      </head>
      <body>
        <div style="background:#C9F0DD none repeat scroll 0% 0%;width:100%;height:30px;margin-top:0px;">
        	<p>Hey {{request.user.email}} &nbsp;&nbsp;<a href='/accounts/logout/'>Logout</a></p>
        </div>
            <div>
            	{% if candidate_list %}
            	{% if balance > 0 %}
            	<form method="post" >
            		{% csrf_token %}
            	<button type="submit" class="btn btn-info" style="float:right;margin-right:30px;" id="download_csv_id">Download CSV</button>
            	</form>
            	{% else %}
            	<p style="color:red;">You have reached maximum no of downloads for today.</p>
            	{% endif %}
            	{% endif %}
            	
            <div style="width:30%;height:600px;background-color:#F5F5F5;overflow:hidden;margin-left:10px;">
			            	
            	
            	<form method="GET" action="." role="form" id="search_form_id">
            		<div class="form-group">
            			{% csrf_token %}
    <label for="qualification_id">Qualification:</label>
            	{{form.qualification}}
            	</div>
            	<div class="form-group">
            		<label for="location_id">Location:</label>
            	{{form.location}}
            	</div>
            	<div class="form-group">
            		<label for="experience_id">Experience:</label>
            	{{form.work_experience}}
            	</div>
            	<div class="form-group">
            		<label for="skills_id">Skills:</label>
            	 {{form.skills}}
            	</div>
            	<div class="form-group">
            		<label for="ctc_id">CTC:</label>
            	 {{form.ctc}}
            	</div>
            	<button type="submit" class="btn btn-primary">Submit</button>
            	</form>
            </div>
            <div style="float:right;width:900px;height:600px;margin-top:-570px;margin-right:10px;">
            	<table class="table">
            		<thead>
            		<tr>
            		<th>Name</th>
            		<th>City</th>
            		<th>Experience</th>
            		<th>Designation</th>
            		<th>Employed by</th>
            		<th>CTC</th>
            		</tr>
            		</thead>
            		<tbody>
            		{% for candidate in candidate_list %}
			       <tr class="{% cycle 'success' 'info' %}">
        			<td>{{candidate.name}}</td>
        			<td>{{candidate.current_city.name}}</td>
        			<td>{{candidate.work_exp}}</td>
        			<td>{{candidate.current_designation}}</td>
        			<td>{{candidate.current_employer}}</td>
        			<td>{{candidate.ctc}}</td>
        		</tr>
        			{% endfor %}
      				
                  </tbody>
            	</table>
            	
      
            	
            </div>
   			</div>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script type="text/javascript">
  $('select').select2();
</script>
      </body>
    </html>